
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

.app-forms-se{
    --gray: #8A8A8A;
    --dark: #383838;
    --white: #ffffff;
    --secondary: rgb(31, 172, 248); 
    --secondary-light: #80c4e7;
    --secondary-dark: #44a5cc;
    --primary: rgb(1, 70, 133);
    --primary-dark: #003768;
    --primary-light: rgb(230, 227, 253);
    --scrollbar-color:#cacaca;
    --scrollbar-body-width: 12px;
    --scrollbar-thumb-width: 4.5px;
    --scrollbar-thumb-radius: 0px;
    --scrollbar-thumb-color: var(--primary-color);
    --primary-gradient:  linear-gradient(to right top, #d0edfc, #dceffe, #e7f2ff, #f0f5ff, #f8f9ff, #f8f9ff, #f8f9ff, #f8f9ff, #f0f5ff, #e7f2ff, #dceffe, #d0edfc);
    --secondary-gradient: linear-gradient(to right, #12397E 0%, #1d6da0 50%, #90d0f4 100%, #90d0f4 100%);
    --font-body-family: "Montserrat", sans-serif;
    --font-body-weight: 400;
    --font-heading-color: var(--primary-dark);
    --font-heading-family: "League Spartan", sans-serif;
    --font-body-scale: 1.0;
    --font-body-color: var(--gray);
}
body{
  --scrollbar-color: #cacaca;
  --scrollbar-body-width: 12px;
  --scrollbar-thumb-width: 8.5px;
  --scrollbar-thumb-radius: 0px;
  --scrollbar-thumb-color:var(--primary-color);
}

.bg-primary-gradient{
    background-image: var(--primary-gradient);
}
.bg-secondary-gradient{
   background-image: var(--secondary-gradient);
}
.app-forms-se p {
    padding: 0;
    margin: 0 0 30px 0;
    font-family: var(--font-body-family), sans-serif;
    color: var(--color-text);
    line-height: 1.5;
    font-size: 14px;
  }
  
.app-forms-se h1,
.app-forms-se h2,
.app-forms-se h3,
.app-forms-se h4,
.app-forms-se h5,
.app-forms-se h6 {
    font-family: var(--font-heading-family), sans-serif;
    font-weight: var(--font-heading-weight);
    margin: 0 0 0px 0;
    padding: 0;
  }
  .app-forms-se h1, h2{
    font-weight: 900;
  }
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes swipe {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes swipe {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes pulse{
    0%{
      transform: scale(1);
     
    }
    50%{
      transform: scale(1.1);
  
    }
    100%{
      transform: scale(1);
     
    }
  }
  @media (min-width:992px){
    .app-forms-se .page-height{
      height:calc(100vh - 116px); /* 116px height:header */
      min-height:800px;
      max-height:950px;
      display:flex;align-items:center;
      flex-direction:column;
      justify-content:center;
    }
  }
  .popover-header {
    text-align: center;
    color: var(--white);
    background-color:var(--secondary);
  }
  
  .popover-body {
    padding: 1rem 0;
  }
  
 .tooltip{
    /* tooltip */
    --background-tooltip: #ffffff;
    --color-tooltip: #091e56;
    --font-size-tooltip: 13px;
    opacity: 1 !important;
}
.bs-tooltip-bottom .tooltip-arrow::before,
.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
 border-bottom-color: var(--background-tooltip);
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
 border-left-color: var(--background-tooltip) !important;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
 border-right-color: var(--background-tooltip) !important;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
 border-top-color: var(--background-tooltip) !important;
}


.tooltip .tooltip-inner {
 background-color: var(--background-tooltip);
 box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.295);
 font-size: var(--font-size-tooltip);
 font-family: var(--font-body-family);
 font-weight: 500;
 white-space: pre-wrap;
 color: var(--color-tooltip);
 max-width: 290px !important;
 
}


.app-forms-se .page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.5rem;
    min-width: 280px;
  }
  
  @media screen and (min-width: 750px) {
    .app-forms-se .page-width {
      padding: 0 5rem;
    }
  }

  .app-forms-se .scrollbar-0 {
    scrollbar-width: 0px;
    scrollbar-color: var(--scrollbar-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .app-forms-se .scrollbar-0::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
    margin-left: -19px !important;
  }
  .app-forms-se .scrollbar-0::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color) !important;
    border-radius: 0px !important;
    margin-left: -9px !important;
  }
  .app-forms-se .scrollbar-0::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color) !important;
    box-shadow: 0 0 2px 1px rgba(56, 56, 56, 0) !important;
  }
  .app-forms-se .scrollbar-0::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-color) !important;
  }
  
  .app-forms-se .scrollbar, body {
    scrollbar-width: var(--scrollbar-thumb-width);
    scrollbar-color: var(--scrollbar-thumb-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;

  }
  .app-forms-se .scrollbar::-webkit-scrollbar, body::-webkit-scrollbar {
    width: var(--scrollbar-thumb-width) !important;
    height: var(--scrollbar-thumb-width) !important;
    margin-left: -19px !important;


  }
 .app-forms-se  .scrollbar::-webkit-scrollbar-thumb , body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color)!important;
    border-radius: var(--scrollbar-thumb-radius) !important;
    margin-left: -9px !important;
  }
  .app-forms-se .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-color) !important;
    box-shadow: 0 0 2px 1px rgba(56, 56, 56, 0) !important;
  }
  .app-forms-se .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-color) !important;
  }
  .app-forms-se .scrollbar-x  {
    scrollbar-width: var(--scrollbar-thumb-width);
    scrollbar-color: var(--scrollbar-thumb-color);
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;

  }
  .app-forms-se .scrollbar-x::-webkit-scrollbar {
    width: var(--scrollbar-thumb-width) !important;
    height: var(--scrollbar-thumb-width) !important;
    margin-left: -19px !important;
  }
  .app-forms-se .scrollbar-x::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color) !important;
    border-radius: var(--scrollbar-thumb-radius) !important;
    margin-left: -9px !important;
  }
  .app-forms-se .scrollbar-x::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-color) !important;
    box-shadow: 0 0 2px 1px rgba(56, 56, 56, 0) !important;
  }
  .app-forms-se .scrollbar-x::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-color) !important;
  }
   .app-forms-se .scrollbar-xy {
    scrollbar-width: var(--scrollbar-thumb-width);
    scrollbar-color: var(--scrollbar-thumb-color);
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: auto;
   }
  .app-forms-se .scrollbar-xy::-webkit-scrollbar {
    width: var(--scrollbar-thumb-width) !important;
    height: var(--scrollbar-thumb-width) !important;
    margin-left: -19px !important;
  }
  .app-forms-se .scrollbar-xy::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color) !important;
    border-radius: var(--scrollbar-thumb-radius) !important;
    margin-left: -9px !important;
  }
  .app-forms-se .scrollbar-xy::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-color) !important;
    box-shadow: 0 0 2px 1px rgba(56, 56, 56, 0) !important;
  }
  .app-forms-se .scrollbar-xy::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-color) !important;
  }
  
 .p-dialog-content::-webkit-scrollbar {
    width: 8px !important;
    height: 0px !important;
    margin-left: -19px !important;
  }
  .p-dialog-content::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color) !important;
    border-radius: 0px !important;
    margin-left: -9px !important;
  }
  .p-dialog-content::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color) !important;
    box-shadow: 0 0 2px 1px rgba(56, 56, 56, 0) !important;
  }
  .p-dialog-content::-webkit-scrollbar-thumb {
    background: #c5c5c5;
  }
  
  
  #wpfooter {
    display: none;
  }
  #wpcontent{
  padding-left: 0;
  }
  ul {
    padding: 0 0px;
    margin: 0;
  }
  /* overwrite wp-admin styles */
  input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
    border: 1px solid #ced4da;
    color: #495057;
    min-height: auto;
    padding: 0.5rem 0.75rem;
    line-height: inherit;
  }

  /* overwrite primevue */
  .p-inputtext:enabled:focus, .p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0px 0px 11px 0rem rgb(162 162 162 / 50%);
    border-color: #c7c7c7;
  }
  .p-dropdown-panel .p-dropdown-items{
    padding: 0;
  }
  .p-dropdown-items-wrapper{
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:last-child.p-highlight {
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:first-child.p-highlight {
    border-radius: 0.25rem 0.25rem 0 0;
  }
  .p-dropdown-panel{
    margin-top: 5px;
  }

  
  .p-error-message{
    color:var(--bs-danger);
  }
/* form grid  */
.form-grid-2 {
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-column-gap: 20px;
}

.form-grid-3 {
  display: grid;
  grid-template-columns: calc(33.333% - 6.666px) calc(33.333% - 6.666px) calc(33.333% - 6.666px);
  grid-column-gap: 20px;
}

.form-grid-2 .field-expanded {
  grid-column: span 2;
}

.form-grid-3 .field-expanded {
  grid-column: span 3;
}

textarea {
  height: 130px;
}

@media (max-width: 768px) {
  .form-grid-2 {
      grid-template-columns: 1fr;
  }

  .form-grid-3 {
      grid-template-columns: 1fr;
  }

  .form-grid-2 .field-expanded {
      grid-column: span 1;
  }

  .form-grid-3 .field-expanded {
      grid-column: span 1;
  }
}

@keyframes temblor-con-rotacion {
  0% {
      transform: translate(1px, 1px) rotate(0deg);
  }

  20% {
      transform: translate(-1px, -2px) rotate(-1deg);
  }

  40% {
      transform: translate(-3px, 0px) rotate(1deg);
  }

  60% {
      transform: translate(3px, 2px) rotate(0deg);
  }

  80% {
      transform: translate(1px, -1px) rotate(1deg);
  }

  100% {
      transform: translate(-1px, 2px) rotate(-1deg);
  }

}

@keyframes rotacion-loading {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(58, 145, 238);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
